body {
  background-color: #000000;
}

/* Container do feed */
.video-feed {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Cada bloco ocupa a tela inteira para centralizar */
.video-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

/* O vídeo em si */
.video-card video {
  width: 400px;          /* tamanho do vídeo */
  height: 700px;
  object-fit: cover;
  border-radius: 20px;
}
